<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fmkj.user.dao.mapper.FmCntInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fmkj.user.dao.domain.FmCntInfo">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="cnt_num" property="cntNum" />
        <result column="status" property="status" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <select id="queryCNTList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        SELECT
          *
        FROM
          fm_cnt_info
        WHERE UID = #{uid}
          AND STATUS = #{status}
          AND CREATE_DATE BETWEEN DATE_ADD(NOW(), INTERVAL - 1 DAY)
          AND NOW()
        ORDER BY CREATE_DATE DESC
        LIMIT 0, 2
    </select>

</mapper>
